<div class="contact-me">
  <div class="margin">
    <div class="contact float-right">
      <h1-b>Thank you for your submission!</h1-b>
      <hr class="grey" />
      <p class="contact-info">
        <%= @contact.name %><br />
        <%= @contact.email %><br />
        <%= @contact.phone_number %>
        <br/><br/>
        "<%= @contact.message %>"
      </p>
      <br />
      <p class="contact-info">
        I appreciate your time and will be in touch at my earliest convenience. 
      </p>
    </div>
  </div>
</div>
