<div class="about-container">
  <div class="margin">
  <br />
    <div class="about float-right">
      <%= image_tag ("me.jpg"), class: "me" %>
      <h1>Bre Phelps</h1>
      <h2>IMPLEMENTATION AND DATABASE SPECIALIST</h2>
      <hr class="grey" />
      <p class="bio">
        Bre currently has a hybrid position as an Implementation and Database Specialist at a software company in San Francisco. She is literate in several coding languages but is looking to acquire a more in depth knowledge. Previously, she lived in Texas and worked as a Technical Project Manager where she learned the basics of JavaScript and SQL. Before her tech life began, she worked in sales. It didn't take long for her to realize that she appreciates working with computers over humans. 
      </p>
    </div>
  </div>
</div>  



