/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
} 

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 20px;
}

h1-a {
  color: #b5b5b5;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 20px;
}

h1-b {
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  color: white;
  font-size: 18px;
  margin-top: 0;
  margin-left: 20px;
}

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

/* Create two columns that floats next to each other */
.column1 {
    float: left;
}

.column2 {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.about-container {
  background: image-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.about {
  width: 400px;
  background-color: rgba(36, 32, 33, 0.50);
  padding: 10px;
  margin: 20px;
  text-align: left;
}

.contact {
  width: 400px;
  background-color: rgba(36, 32, 33, 0.50);
  padding: 10px;
  margin: 20px;
  text-align: center;
}

.code {
  width: 400px;
  background-color: rgba(36, 32, 33, 0.50);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white; 
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.grey {
  height: 3px;
  background-color: #919191;
  border: none;
  width: 50px;
}

.bio {
  color: white;
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
  text-align: center;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(255,255,255,0.88);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.box-w {
  margin-top: 80px;
  text-align: center;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(255,255,255,0.88);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.box-s {
  float: right;
  width: 42.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: rgba(36, 32, 33, 0.50);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.clear {
  clear: both;
}

.language-ruby {
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 10px;
  font-size: 16px;
  text-align: left;
  color: white;
}

.full-width {
  width: 100%;
}

.icons {
  text-align: center;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(255,255,255,0.88);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  width: 550px;
  margin: 20px;
}

.skills-container {
  background: image-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}

.code-container {
  background: image-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 2200px;
}

.skills-and-tools {
  font-size: 16px;
  text-align: left;
  color: black;
}

.apps-container {
  background: image-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1400px;
}

.icon {
  margin: 30px 0;
}

.contact-me {
  background: image-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  text-align: center;
}

.contact-headline {
  color: white;
}

.contact-info {
  color: white;
  font-size: 14px;
  margin-top: 30px;
}

.contact-link {
  color: white;
  font-size: 14px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.navbar {
  padding-top: 5px;
  vertical-align: center;
  box-shadow: 5px 5px 5px 0 #d0d0d0;
}

li {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  vertical-align: center;
}

.hire-me {
  border-style: solid;
  border-color: black;
  padding-bottom: 2px;
}